.float-cart {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #eceff1;
  box-sizing: border-box;
  transition: right 0.2s;

  &--open {
    right: 0;
  }

  &__close-btn {
    width: 50px;
    height: 50px;
    color: #ececec;
    background-color: #1b1a20;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: -50px;
    cursor: pointer;
    &:hover {
      background-color: #212027;
    }
  }

  .bag {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background-image: url("../assets/cart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--float-cart-closed {
      position: absolute;
      // background-color: #000;
      background-size: 50%;
      left: -80px;
      width: 60px;
      height: 60px;
      cursor: pointer;

      .bag__quantity {
        bottom: 5px;
        right: 10px;
      }
    }

    &__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #0c0b10;
      font-weight: bold;
      font-size: 0.7em;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background-color: #eabf00;
      position: absolute;
      bottom: -5px;
      right: 0px;
    }
  }

  &__header {
    color: #000000;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;
    margin-top: -20px;
    margin-bottom: 5px;
    .header-title {
      font-weight: bold;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  &__shelf-container {
    position: relative;
    min-height: 280px;
    padding-bottom: 400px;

    .shelf-empty {
      color: #000000;
      text-align: center;
      line-height: 40px;
    }

    .shelf-channel {
      box-sizing: border-box;
      padding: 2%;
      position: relative;
      width: 100%;
      height: 110px;
      z-index: 2;
      color: #000000;
      margin-bottom: 10px;
      background-color: #eceff1;
      box-shadow: 0px 0px 5px 0.1px;
      &::before {
        content: "";
        width: 100%;
        height: 20px;
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
      }  
    }

    .shelf-item {
      position: relative;
      box-sizing: border-box;
      padding: 2%;
      transition: background-color 0.2s, opacity 0.2s;
      &__details {
        .title, .desc{
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 18px;
        }
      }

      &::before {
        content: "";
        width: 90%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 5%;
      }

      &--mouseover {
        background: #0c0b10;
        .shelf-item__details {
          .title,
          .desc {
            text-decoration: line-through;
            opacity: 0.6;
          }
        }

        .shelf-item__price {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }

      &__del {
        width: 16px;
        height: 16px;
        top: 15px;
        right: 5%;
        border-radius: 50%;
        position: absolute;
        background-size: auto 100%;
        // background-image: url('../../static/sprite_delete-icon.png');
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;

        &:hover {
          background-position-x: -17px;
        }
      }

      &__thumb,
      &__details,
      &__price {
        display: inline-block;
        vertical-align: middle;
        // top: 50px
      }

      &__thumb {
        vertical-align: middle;
        width: 15%;
        margin-right: 3%;
        // margin-top: -20px;

        img {
          width: 100%;
          height: 70px;
          object-fit: cover;

        }
      }
      &__details {
        width: 57%;

        .title {
          color: #000000;
          margin: 0;
        }

        .desc {
          color: #5b5a5e;
          margin: 0;
        }
      }
      &__price {
        color: #eabf00;
        text-align: right;
        width: 25%;
      }
      .change-product-button {
        color: #b7b7b7;
        border: 0;
        background-color: #000;
        width: 25px;
        height: 25px;

        &:disabled {
          opacity: 0.2;
        }
      }
    }
  }

  &__footer {
    box-sizing: border-box;
    padding: 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: #eceff1;

    &::before {
      content: "";
      width: 100%;
      height: 20px;
      display: block;
      position: absolute;
      top: -20px;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    }

    .progress{
      padding-top: 10px;
      height: 50px;
      width: 100%;
      vertical-align: middle;
      display: inline-block;
    }

    .sub,
    .sub-price {
      color: #5b5a5e;
      vertical-align: middle;
      display: inline-block;
      font-size: 18px;
    }

    .sub {
      width: 20%;
    }

    .sub-price {
      width: 80%;
      text-align: right;

      &__val,
      &__installment {
        margin: 0;
      }

      &__val {
        color: #eabf00;
        font-size: 20px;
      }
    }

    .buy-btn {
      color: #ececec;
      text-transform: uppercase;
      background-color: #0c0b10;
      text-align: center;
      padding: 5px 0;
      margin-top: 15px;
      cursor: pointer;

      transition: background-color 0.2s;

      &:hover {
        background-color: #000;
      }
    }
  }
}

/* MAC scrollbar para desktop*/
@media screen and (min-width: 640px) {
  .float-cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .float-cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10;
  }
}

.float-cart__content {
  height: 100%;
  overflow-y: scroll;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #1b1a20;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  padding: 20px 2%;
  max-width: 1200px;
  margin: 50px auto 0 auto;
}

@media only screen and (max-width: 1024px) {
  body {
    .filters {
      width: 20%;
    }

    .shelf-container {
      width: 80%;
      .shelf-item {
        width: 33.33%;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    .filters {
      width: 25%;
    }

    .shelf-container {
      width: 75%;

      .shelf-item {
        width: 50%;
        padding: 10px;

        &__title {
          margin-top: 5px;
          padding: 0;
        }
      }
    }

    .float-cart {
      width: 100%;
      right: -100%;
      &--open {
        right: 0;
      }

      &__close-btn {
        left: 0px;
        z-index: 2;
        background-color: #1b1a20;
      }

      &__header {
        padding: 25px 0;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  body {
    main {
      display: flex;
      flex-wrap: wrap;
      padding: 2%;
      margin-top: 42px;
    }

    .filters {
      width: 100%;
      margin-right: 0;
      text-align: center;

      .title {
        margin-bottom: 15px;
      }
    }

    .shelf-container-header {
      .products-found {
        width: 100%;
        text-align: center;
        margin: 10px 0;
      }

      .sort {
        width: 100%;
        text-align: center;
      }
    }

    .shelf-container {
      width: 100%;

      .shelf-item {
        width: 50%;

        &__buy-btn {
          display: none;
        }
      }
    }
  }
}
