/* 
.menu-link{
  color: "grey" !important;
} */

#menu-link:hover {
  color: #b48300 !important;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.map-container {
  top: 56px;
  width: 50%;
  height: calc(100% - 58px);
  position: fixed;
  right: 0;
}

.page-container {
  top: 56px;
  width: 100%;
  height: calc(100% - 58px);
  position: fixed;
}

.search-container {
  top: 56px;
  width: 50%;
  height: calc(100% - 58px);
  position: fixed;
  right: 50%;
}

.info {
  border: 1px solid grey;
  width: 100px;
  font-size: large;
}

.item {
  height: 300px;
  display: flex;
  flex-direction: row;
  width: 45%;
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
  margin: 0 2% 0 2%;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

@media only screen and (max-width: 2000px) {
  .banner-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .home-jumbo {
    height: 800px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-img-top {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .home-jumbo {
    height: 750px;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .banner-img-top {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .home-jumbo {
    height: 200px;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .banner-img-top {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .home-jumbo {
    height: 200px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .banner-img-top {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .home-jumbo {
    height: 620px;
  }
}

.pinDefault {
  position: relative;
  border-radius: 50% 50% 50% 0;
  border: 10px solid blue;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  right: 10px;
  bottom: 20px;
}

.pinMouseOver {
  position: relative;
  border-radius: 50% 50% 50% 0;
  border: 10px solid grey;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  right: 10px;
  bottom: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-title {
  text-align: left;
}

figure.effect-bubba {
  background: white;
}

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.7;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #b48300;
  border-bottom: 1px solid #b48300;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #b48300;
  border-left: 1px solid #b48300;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba h6 {
  padding-top: 10%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
  /* padding: 5px 2.5em; */
  /* opacity: 100; */
  /* -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); */
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h6 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-bubba:hover p {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
