.map-container {
  top: 56px;
  width: 50%;
  height: calc(100% - 58px);
  position: fixed;
  right: 0;
}

.page-container {
  top: 56px;
  width: 100%;
  height: calc(100% - 58px);
  position: fixed;
}


.search-container {
  top: 56px;
  width: 50%;
  height: calc(100% - 58px);
  position: fixed;
  right: 50%;
}

.info {
  border: 1px solid grey;
  width: 100px;
  font-size: large;
}

.item {
  height: 300px;
  display: flex;
  flex-direction: row;
  width: 45%;
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
  margin: 0 2% 0 2%;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.pinDefault {
  position: relative;
  border-radius: 50% 50% 50% 0;
  border: 10px solid blue;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  right: 10px;
  bottom: 20px;
}

.pinMouseOver {
  position: relative;
  border-radius: 50% 50% 50% 0;
  border: 10px solid grey;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  right: 10px;
  bottom: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-title{
  text-align: left;
}